{% extends "base.html" %} 
{% block content %}
        <div align="center">
          <div align="center" class="border">
            <div class="header"></div>
            {% if msg %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
               <h1 class="alert-msg">{{ msg }}</h1>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
           {% endif %}
               <div class="home-content">
                  <h1 style="font-size:30px"><strong>Flight Delay Prediction System</strong></h1>
                  <div class="intro-content"></div>
                     <h3>This system is a one-stop platform to predict the delays of all flights. <br><br>
                  <div><br><br>
                  <img src="{{url_for('static', filename='flight.gif')}}" align="middle" width="50%" height="45%"/>            
                </div>
        </div>
{% endblock %}